PORT=
NODE_ENV=
DATABASE_URL=
BCRYPT_SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Notifications
RESEND_API_KEY=
NOTIFICATION_EMAIL=
DISCORD_WEBHOOK_URL=
GEMINI_API_KEY=
GEMINI_API_NAME=
GEMINI_PROJECT_NAME=
GEMINI_PROJECT_NUMBER=
GITHUB_API_TOKEN=
